# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration
DB_HOST=postgres.railway.internal
DB_USER=postgres
DB_PASS=UCzfYmZcIfNEHqOucOqsUMrclQOaCyRS
DB_NAME=railway
DB_PORT=5432

# Para conexiones externas (conexión de respaldo si la interna falla)
DATABASE_URL=postgresql://postgres:UCzfYmZcIfNEHqOucOqsUMrclQOaCyRS@interchange.proxy.rlwy.net:31176/railway

# JWT Configuration
JWT_SECRET=H8DSF7sdf87DSF87ds87f6SD87f6ds78F6SD7f6d7F6D87f6d78F6ds78F6DS78f6d78F6d78FS6d87f6D78S
JWT_EXPIRES_IN=1d

# Configuración adicional
FRONTEND_URL=*